@if (currentUser() !== null) {
  <div *ngIf="currentUser()!.status === status.Student" class="preferences-section">
    <app-student></app-student>
  </div>

  <div *ngIf="currentUser()!.status === status.Hse" class="preferences-section">
    <app-hse></app-hse>
  </div>

  <div *ngIf="currentUser()!.status === status.Employer" class="preferences-section">
    <app-employer></app-employer>
  </div>
} @else {
  <h3>Пожалуйста, выполните вход в систему для просмотра событий и упарвления профилем</h3>
}
