<div *ngIf="currentUser() as user; else loginMessage">
  <div *ngIf="user.role === Roles[0]" class="preferences-section">
    <app-student></app-student>
  </div>

  <div *ngIf="user.role === Roles[1]" class="preferences-section">
    <app-hse></app-hse>
  </div>

  <div *ngIf="user.role === Roles[2]" class="preferences-section">
    <app-employer></app-employer>
  </div>
</div>

<ng-template #loginMessage>
  <h3>Пожалуйста, выполните вход в систему для просмотра событий и управления профилем</h3>
</ng-template>
