<section class="py-5 text-center">
  <div class="container">
    <h1 class="py-lg-4">Добро пожаловать на платформу Событий НИУ ВШЭ</h1>
    <p class="lead py-lg-4">
      Найдите стажировки, управляйте мероприятиями и связывайтесь с компаниями для будущих
      сотрудничеств. Эта платформа разработана для облегчения поиска стажировок,
      оптимизации организации мероприятий компаниями и создания
      значимых связей между студентами и работодателями.
    </p>
    <a href="/profile" class="btn btn-primary btn-lg">Начать</a>
  </div>
</section>

<section id="killing-features" class="py-5 bg-light">
  <div class="container">
    <h2 class="text-center mb-5">Уникальная функция</h2>
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="feature-item text-center">
          <h3>Персонализированные уведомления о событиях</h3>
          <p>
            Наша выдающаяся функция – это возможность уведомлять студентов через Телеграм-бота
            или по электронной почте (по выбору студента) о новых мероприятиях от компаний
            (стажировки, мастер-классы и т.д.). Каждое мероприятие компании может быть отмечено
            тегами с помощью облака тегов. Кроме того, пользователи могут настраивать свои
            предпочтения уведомлений, выбирая конкретные теги (например, backend, frontend, CS, стажировка и т.д.) в
            своем профиле. Когда компания добавляет новые мероприятия, студенты, выбравшие аналогичные теги, получают
            уведомления на предпочитаемые ими каналы связи. Этот подход обеспечивает получение студентами уведомлений
            только о тех мероприятиях, которые соответствуют их интересам, тем самым повышая вовлеченность студентов.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="features" class="py-5">
  <div class="container">
    <h2 class="text-center mb-5">Основные функции</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body text-center">
            <h3 class="card-title">Для студентов</h3>
            <p class="card-text">
              Студенты могут настраивать свой опыт, изменяя теги интересов,
              выбирая предпочитаемые методы уведомлений и просматривая
              историю своих взаимодействий.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body text-center">
            <h3 class="card-title">Для проектного офиса</h3>
            <p class="card-text">
              Администраторы офиса создают новые мероприятия, настраивают категории тегов,
              редактируют детали мероприятий и отслеживают отклики на мероприятия.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body text-center">
            <h3 class="card-title">Для работодателей</h3>
            <p class="card-text">
              Работодатели могут создавать новые мероприятия, обновлять детали мероприятий,
              получать доступ к спискам мероприятий и просматривать отклики участников.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="about" class="py-5 bg-light">
  <div class="container">
    <h2 class="text-center mb-5">О нас</h2>
    <div class="row">
      <div class="col-md-6">
        <h3>Наша команда</h3>
        <p>
          Мы – команда третьекурсников образовательной программы
          "Программная инженерия" Национального исследовательского университета Высшей школы экономики (ВШЭ) в Перми.
          Наша цель – усилить связь
          между студентами ВШЭ Пермь и работодателями, а также улучшить практики управления проектами для блага
          работодателей.
        </p>
        <p>Познакомьтесь с нашими участниками:</p>
        <ul>
          <li><strong>Александр Некрасов</strong> - Разработчик Angular</li>
          <li>
            <strong>Арсений Лихачев</strong> и
            <strong>Егор Ефимов</strong> - Разработка сервиса уведомлений студентов через Телеграм-бота и e-mail
          </li>
          <li><strong>Максим Клименко</strong> - Разработчик парсера, анализ</li>
          <li>
            <strong>Захар Молчанов</strong> - Разработчик API, анализ
          </li>
        </ul>
      </div>
      <div class="col-md-6">
        <h3>Наша миссия</h3>
        <p>
          В нашей основе – стремление сократить разрыв между академическим обучением и
          требованиями индустрии, содействуя лучшей коммуникации и практическому взаимодействию для студентов и
          работодателей. Мы фокусируемся на
          совершенствовании практик управления проектами через наш проектный офис для
          предоставления ощутимых выгод работодателям.
        </p>
        <p>
          Мы привержены использованию технологий и инноваций для создания
          значимых решений, отвечающих потребностям как студентов, так и
          работодателей, в конечном итоге способствуя более связанной и продуктивной
          общине.
        </p>
      </div>
    </div>
  </div>
</section>

<section id="contact" class="py-5">
  <div class="container">
    <h2 class="text-center mb-5">Свяжитесь с нами</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="contact-item">
          <p><strong>Александр Некрасов</strong></p>
          <p>Telegram: <a href="https://t.me/aleksnekr">&#64;aleksnekr</a></p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="contact-item">
          <p><strong>Арсений Лихачев</strong></p>
          <p>Telegram: <a href="https://t.me/lizaruche">&#64;lizaruche</a></p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="contact-item">
          <p><strong>Егор Ефимов</strong></p>
          <p>Telegram: <a href="https://t.me/egor_efimow">&#64;egor_efimow</a></p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="contact-item">
          <p><strong>Максим Клименко</strong></p>
          <p>
            Telegram: <a href="https://t.me/user3236775567">&#64;user3236775567</a>
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="contact-item">
          <p><strong>Захар Молчанов</strong></p>
          <p>
            Telegram:
            <a href="https://t.me/zakhar_mol4anov">&#64;zakhar_mol4anov</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<footer class="py-4 bg-dark text-white text-center">
  <div class="container my-0">
    <p>&copy; 2024 Управление событиями НИУ ВШЭ.</p>
  </div>
</footer>
