<div class="container">
  <div
    *ngIf="currentUser()!.role === Roles[0]"
    class="preferences-section">
    <h1>Управляйте своими настройками</h1>
    <div
      class="form-floating d-inline-flex p-1 m-1 ps-3 me-2 align-items-center">
      <p class="form-label me-3 mb-0">Способ получения уведомлений о новых событиях</p>
      <div class="form-check form-check-inline">
        <input [(ngModel)]="selectedMethod" [value]="'email'" class="form-check-input" type="radio" id="email"
               name="mail-method">
        <label class="form-check-label" for="email">Электронная почта</label>
      </div>
      <div class="form-check form-check-inline">
        <input [(ngModel)]="selectedMethod" [value]="'telegram'" class="form-check-input" type="radio" id="tg"
               name="mail-method">
        <label class="form-check-label" for="tg">Telegram</label>
      </div>
      <div class="form-check form-check-inline">
        <input [(ngModel)]="selectedMethod" [value]="'none'" class="form-check-input" type="radio" id="none"
               name="mail-method">
        <label class="form-check-label" for="none">Не получать уведомления</label>
      </div>
    </div>
    <div class="tags">
      <div class="tags-your">
        <h4>Теги, на которые вы подписаны</h4>
        <p *ngIf="currentUser()!.tags.length === 0">Вы не подписаны ни на один тег событий</p>
        <div class="m-2 d-flex justify-content-between align-items-center"
             *ngFor="let tag of currentUser()!.tags">
          <label class="w-75">{{ tag }}</label>
          <button class="btn btn-danger" (click)="removeTagHandle(tag)">Отписаться</button>
        </div>
      </div>
      <div class="tags-select">
        <h4>Выберите теги, которые вам интересны</h4>
        <div class="m-2 d-flex justify-content-between align-items-center" *ngFor="let tag of allTags">
          <label>{{ tag }}</label>
          <button class="btn btn-primary" (click)="addTagHandle(tag)">Подписаться</button>
        </div>
      </div>
    </div>
  </div>

  <div class="cv-section">
    <h1>Заполните ваше резюме для компаний-партнеров</h1>
    <div>
      <label>Полное имя</label>
      <input placeholder="Полное имя" [(ngModel)]="fullName"/>
    </div>
    <div>
      <label>Образовательная программа</label>
      <input
        placeholder="Образовательная программа"
        [(ngModel)]="educationalProgram"
      />
    </div>
    <div>
      <label>Номер курса обучения</label>
      <input
        placeholder="Номер курса обучения"
        type="number"
        [(ngModel)]="courseNumber"
      />
    </div>
    <div>
      <label>Опыт работы</label>
      <input placeholder="Опыт работы" [(ngModel)]="experience"/>
    </div>
    <div>
      <label>Текущее место работы</label>
      <input placeholder="Текущее место работы" [(ngModel)]="currentJob"/>
    </div>
    <div>
      <label>Навыки</label>
      <textarea placeholder="Укажите Ваши навыки" [(ngModel)]="skills"></textarea>
    </div>
    <div>
      <label>О себе</label>
      <textarea
        placeholder="Напишите, что еще хотели бы рассказать о себе"
        [(ngModel)]="summary"
      ></textarea>
    </div>
  </div>
</div>
<div class="section-internshipsAndHistoty">
  <div class="internships-section">
    <h4>События</h4>
    <table>
      <thead>
      <tr>
        <th>Название</th>
        <th>Организатор</th>
        <th>Теги</th>
        <th>Конечная дата приема заявок</th>
        <th>Число подавших заявку</th>
        <th>Действия</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let event of events()">
        <td>{{ event.name }}</td>
        <td>{{ event.organizerName }}</td>
        <td>{{ getTags(event) }}</td>
        <td>{{ event.endDate | date : "dd.MM.Y" }}</td>
        <td>{{ event.responded.length }}</td>
        <td>
          <button (click)="subscribeToEvent(event)">Подать заявку</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="subscription-history">
    <h1>События, на которые вы подали заявку</h1>
    @if (subscribedEvents() === undefined || subscribedEvents()?.length === 0) {
      <h6>Нет событий</h6>
    }
    <ul>
      <li *ngFor="let event of subscribedEvents()">
        {{ event.name }} - {{ event.endDate | date : "dd.MM.Y" }}
      </li>
    </ul>
  </div>
</div>
