<div class="login-container">
  <h1>Вход</h1>

  <form [formGroup]="loginFormGroup" (submit)="loginHandle()">
    <div>
      <label>Электронная почта</label>
      <input
        formControlName="emailField"
        type="email"
        placeholder="Введите e-mail"
      />
    </div>

    <div>
      <label>Пароль</label>
      <input
        formControlName="passwordField"
        type="password"
        placeholder="Введите пароль"
      />
    </div>

    <div>
      <label>Войти как</label>
      <select
        #status
        name="status"
        id="status"
        (change)="onSelectedStatus(status.value)"
      >
        <option default>Студент</option>
        <option>Сотрудник Проектного офиса</option>
        <option>Представитель компании-партнера</option>
      </select>
    </div>

    <button type="submit">Войти</button>
  </form>
</div>
