<div class="login-container">
  <h1>Вход</h1>

  <form [formGroup]="loginFormGroup" (submit)="loginHandle()">
    <div>
      <label>Электронная почта</label>
      <input
        formControlName="emailField"
        type="email"
        placeholder="Введите e-mail"
      />
    </div>

    <div>
      <label>Пароль</label>
      <input
        formControlName="passwordField"
        type="password"
        placeholder="Введите пароль"
      />
    </div>

    <div>
      <label>Войти как</label>
      <select
        #role
        name="role"
        id="role"
        (change)="onSelectedStatus(role.value)"
      >
        <option default>{{ Roles[0] }}</option>
        <option>{{ Roles[1] }}</option>
        <option>{{ Roles[2] }}</option>
      </select>
    </div>

    <button type="submit">Войти</button>
  </form>
</div>
