<div class="event-list">
  <h3>Здравствуйте, {{ userMgmService.currentUser()?.email }}</h3>
  <div>
    <h2>Управляйте вашими событиями</h2>
    <button class="btn btn-outline-primary" (click)="addEvent()">Опубликовать новое событие</button>
  </div>
  <div class="event-cards">
    <div class="event-card" *ngFor="let projEvent of companyEvents()">
      <h3>{{ projEvent.name }}</h3>
      <p><strong>Организатор:</strong> {{ projEvent.organizerName }}</p>
      <p><strong>Теги:</strong> {{ projEvent.tags.join('; ') }}</p>
      <p><strong>Тип события:</strong> {{ projEvent.type }}</p>
      <p><strong>Описание:</strong> {{ projEvent.description }}</p>
      <p><strong>Подали
                 заявку:</strong> {{ projEvent.responded.length > 0 ? projEvent.responded.length : 'нет подавших' }}
      </p>
      <ul class="student-responses">
        <li *ngFor="let response of projEvent.responded">
          <p>{{ response.email }}</p>
        </li>
      </ul>
      <button (click)="editEvent(projEvent)">Редактировать</button>
      <button class="mx-1" (click)="deleteEvent(projEvent)">Удалить</button>
    </div>
  </div>
</div>
